<h1>Profile Page for <%= @church.name %></h1>

<p><%= "#{@church.name}\'s #{pluralize(@church.services.count, 'service')}" %></p>
<p><%= content_tag(:a, "official web site", href: @church.web_site) %></p>
<ol><%= render partial: 'service', collection: @church.services %></ol>